.bank-app{
background:#0b5c5b;
height:100vh;
font-family:"Inter",sans-serif;
color:white;
overflow:hidden;
}

/* HEADER */

.header{
position:fixed;
top:0;
left:0;
right:0;
height:70px;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 20px;
background:#0b5c5b;
z-index:1000;
}

.avatar{
width:50px;
height:50px;
background:#cfd8dc;
border-radius:16px;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
color:#0b5c5b;
}

.header-icons{
display:flex;
gap:15px;
}

/* TABS */

.tabs{
position:fixed;
top:70px;
left:0;
right:0;
display:flex;
gap:10px;
padding:10px 20px;
background:#0b5c5b;
z-index:999;
}

.tab{
display:flex;
align-items:center;
gap:6px;
background:#0f6d6c;
padding:10px 16px;
border-radius:20px;
border:none;
color:white;
cursor:pointer;
}

.tab.active{
background:white;
color:#0b5c5b;
font-weight:600;
}

/* CONTENT SCROLL */

.content{
position:absolute;
top:130px;
bottom:90px;
left:0;
right:0;
overflow-y:auto;
padding:20px;
}

/* ACCOUNT CARD */

.account-card{
background:white;
color:#0b5c5b;
border-radius:20px;
padding:20px;
margin-bottom:20px;
}

.balance{
font-size:36px;
font-weight:700;
}

.owner{
margin-top:5px;
}

.iban{
margin-top:10px;
font-size:14px;
}

/* ACTIONS */

.quick-actions{
display:flex;
justify-content:space-between;
margin-bottom:25px;
}

.action{
text-align:center;
flex:1;
}

/* TRANSACTIONS */

.transactions{
background:white;
color:#0b5c5b;
border-radius:20px;
padding:20px;
}

/* BOTTOM NAV */

.bottom-nav{
position:fixed;
bottom:0;
left:0;
right:0;
background:white;
display:flex;
justify-content:space-around;
padding:12px;
border-top:1px solid #eee;
color:#0b5c5b;
}

.nav-item{
display:flex;
flex-direction:column;
align-items:center;
font-size:11px;
}

.nav-item.active{
color:#10a37f;
}