.bank-app{
background:#0b5c5b;
min-height:100vh;
font-family: "Inter", sans-serif;
color:white;
padding:20px;
}

/* HEADER */

.header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.avatar{
width:50px;
height:50px;
background:#cfd8dc;
border-radius:16px;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
color:#0b5c5b;
}

.header-icons{
display:flex;
gap:15px;
}

/* TOP TABS */

.top-tabs{
display:flex;
gap:10px;
margin-bottom:20px;
}

.tab{
display:flex;
align-items:center;
gap:6px;
background:#0f6d6c;
padding:10px 16px;
border-radius:20px;
border:none;
color:white;
cursor:pointer;
}

.tab.active{
background:white;
color:#0b5c5b;
font-weight:600;
}

/* ACCOUNT CARD */

.account-card{
background:white;
color:#0b5c5b;
border-radius:20px;
padding:20px;
margin-bottom:20px;
}

.account-header{
font-weight:600;
margin-bottom:10px;
}

.balance{
font-size:36px;
font-weight:700;
}

.balance-date{
font-size:14px;
opacity:0.7;
margin-top:5px;
}

.owner{
margin-top:5px;
font-weight:500;
}

.iban{
margin-top:10px;
font-size:14px;
}

/* ACTIONS */

.quick-actions{
display:flex;
justify-content:space-between;
margin-bottom:25px;
}

.action{
text-align:center;
flex:1;
color:white;
}

.action p{
margin-top:6px;
font-size:13px;
}

/* TRANSACTIONS */

.transactions{
background:white;
color:#0b5c5b;
border-radius:20px;
padding:20px;
}

.transactions h3{
margin-bottom:15px;
font-size:16px;
}

.transaction{
display:flex;
align-items:center;
justify-content:space-between;
border-top:1px solid #eee;
padding-top:10px;
}

.date{
font-size:22px;
font-weight:700;
margin-right:5px;
}

.month{
font-size:12px;
}

.desc{
flex:1;
margin-left:10px;
font-weight:500;
}

.amount{
font-weight:700;
}

.negative{
color:#0b5c5b;
}

/* BOTTOM NAV */

.bottom-nav{
position:fixed;
bottom:15px;
left:50%;
transform:translateX(-50%);
background:white;
width:90%;
max-width:500px;
border-radius:40px;
display:flex;
justify-content:space-around;
padding:12px;
box-shadow:0 5px 20px rgba(0,0,0,0.2);
color:#0b5c5b;
}

.nav-item{
display:flex;
flex-direction:column;
align-items:center;
font-size:11px;
}

.nav-item.active{
color:#10a37f;
}